
/* 导航条 */
nav {
	padding-left: 10px;
}

/* header */
header {
	position: relative;
	margin-top: 50px;
	height: 100px;
}
header .header-logo {
	display: block;
	position: absolute;
	top: 50%;
	left: 10%;
	margin-top: -25px;
}
.header-logo {
	width: 117px;
	height: 50px;
	background: url(../image/logo-header.png) no-repeat;
}
.seperate {
	display: inline-block;
	border-left: 1px solid;
	margin-left: 12px;
	padding: 6px;
}
.text-member {
	font-size: 16px;
	line-height: 100px;
}

/* editor */
#post_content {
	overflow-y: scroll;
	max-height: 250px;
}

/* content */
/* member-dropdown */
#member-dropdown .dropdown-menu {
	top: 80px;
	min-width: 100px;
}
#member-dropdown .dropdown-menu li {
	width: 100px;
}
#content {
	position: relative;
	margin-bottom: 50px;
}
#carousel {
	width: 100%;
	background-color: #5bb;
}
.myCarousel-indicators {
	left: 0px;
	margin: 0px;
	width: 100%;
	background-color: rgba(102,204,204,.3);
}
.myCarousel-inner {
	box-sizing: border-box;
}
.myCarousel-inner .item {
	overflow: hidden;
	height: 120px;
}
.myCarousel-inner img {
	margin: 0 auto;
}
#carousel .myCarousel-control {
	background-image: none;
/* 	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0px, transparent 100%); */
}
#main {
	padding-top: 50px;
}
.note-item h2, .note-item h4, .note-item h5, .note-item p, .note-item span {
	line-height: 1.8em;
}

/* footer */
footer {
	position: relative;
	padding: 40px;
	background-color: #05173b;
	text-align: center;
}
.footer-info h4 {
	color: #999;
	font-size: 18px;
}
.footer-text {
	font-size: 14px;
	color: #eee;
	line-height: 1.8em;
}
.flink {
	display: block;
}

/* 响应式 */
@media (min-width: 768px) {
	.myCarousel-inner .item {
		height: 260px;
	}
	.footer-info h4 {
		font-size: 20px;
	}
	.footer-text {
		font-size: 15px;
	}
}
@media (min-width: 992px) {
	.myCarousel-inner .item {
		height: 320px;
	}
	.footer-info h4 {
		font-size: 22px;
	}
	.footer-text {
		font-size: 16px;
	}
}
@media (min-width: 1200px) {
	.myCarousel-inner .item {
		height: 320px;
	}
	.footer-info h4 {
		font-size: 22px;
	}
	.footer-text {
		font-size: 16px;
	}
}