@media screen and (min-width: 768px) {
	nav#navbar-top ul.nav li.active {
		border-left: none;
		border-bottom: 2px solid #1d709d;
	}
	#myNote-tabpanel .row {
		padding-left: 20px;
	}
	#myNote-tabpanel .box {
		margin: 10px 20px;
		width: 200px;
		height: 200px;
	}
	#myNote-tabpanel .box.addNote span {
		line-height: 200px;
		font-size: 140px;
	}
	#myNote-tabpanel .box.panel .panel-body {
		-webkit-line-clamp: 8;
	}
}