@charset "utf8";
body {
	width: 100%;
	background-image: url('../image/bg.jpg');
}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}
a:hover {
	color: #1d709d;
}
nav#navbar-top {
	padding-right: 20px;
	padding-left: 20px;
}
nav#navbar-top .nav li:hover {
	border-bottom: 2px solid rgba(242,234,246,1);
	background-color: rgba(242,234,246,1);
}
nav#navbar-top a.navbar-brand {
	padding: 0px 50px;
	background-image: url('../image/bird_195_100.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100px;
}
nav#navbar-top ul.nav li.active {
	border-bottom: 2px solid #1d709d;
	background-color: rgba(64,155,205,.2);
}
nav#navbar-top ul.nav li.active a {
	color: #454545;
}
nav#navbar-top ul.nav li a {
	font-size: 1em;
	color: #1d709d;
	background-color: transparent;
}
#main {
	padding-top: 100px;
}
#main .container-left .panel-heading {
	height: 48px;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 2px;
}
#main .container-left .panel-body .row div.col-xs-12 {
	height: 60px;
}
#main .container-right {
	border-left: 1px solid #1d709d;
}
#main .container-right .info-title {
	padding-bottom: 15px;
	border-bottom: 1px solid #1d709d;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 2px;
}
#userInfo {
	margin-bottom: 50px;
}
#userInfo a[title="退出"] {
	margin-left: 5px;
	font-size: 1.2em;
	color: #333;
}
#userInfo a[title="退出"]:hover span {
	color: #a94442;
}
#userSetting {
	top: -10px;
}
.userName, .userEmail, .userSpace-total {
	font-size: 1.5em;
	color: #1d709d;
}
.userSpace-used {
	font-size: 1.5em;
	color: #1d709d;
}
#main .container-right meter {
	width: 100%;
	height: 20px;
	border-radius: 10%;
}
#main .container-right meter::-webkit-meter-optimum-value {
	background: linear-gradient(to bottom, #3098d0, #2a8ec2, #18648e, #1d709d);
}
#main .container-right meter::-webkit-meter-suboptimum-value {
	background: linear-gradient(to top, #aa1520, #b51b23, #cb1f26, #d32128);
}
#userSetting-modal .modal-dialog .modal-header {
	padding-right: 0px;
	padding-left: 0px;
	border: none;
}
#userSetting-modal .modal-dialog .modal-header button {
	margin-right: 15px;
}
#userSetting-modal .modal-dialog .modal-header ul {
	padding-left: 15px;
}
#userInfo-btn {
	position: fixed;
	top: 45%;
	right: 0;
	border-radius: 50%;
}
#userInfo-btn .btn {
	border-radius: 50% 50% 2% 50%;
}
#userInfo-modal-view p {
	text-indent: 15px;
}
#userInfo-modal .form-horizontal .form-group {
	margin-left: 15px;
	margin-right: 15px;
}